

body{
    margin: 0 auto;
}
.screen{
    width: 100vw;
    height: 100vh;
}
#container-grid{
    width: 100%;
    height: 100%;
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    /* Alignment items */
    justify-items: center;
    align-items: center;
}

.item-grid{
    
    width: 300px;
    height: 300px;
    border: 1px solid lightgray;
    /* box-shadows: offset-x offset-y blur spread-radius */
    box-shadow: 0.5px 0.5px 5px;

    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-grid{
    font-size: 1rem;
    font-family:monospace;
    padding: 12px 36px;
    border: 1px solid lightgray;
}


/* Background-colors */

.blue{
    background-color: dodgerblue;
}

.gray{
    background-color: gray;
}

.whitesmoke{
    background-color: whitesmoke;
}

.white{
    background-color: white;
}

@media (max-width: 1000px){
    .screen{
        height: 80%;
        margin: 30px 0px;
    }
	#container-grid{
    
        /* Grid */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;  
        row-gap: 50px;      
        /* Alignment items */
        justify-items: center;
        align-items: center;
    }
}

@media (max-width: 700px){

    .screen{
        height: 75%;
        margin: 30px 0px;
    }

	#container-grid{

        /* Grid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        /* Alignment items */
        justify-items: center; 
        align-items: center;
        row-gap: 30px;
    }


}

